<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>趣读书</title>
    </head>
    <body>
        <div id="page">
            <aside id="sidebar">
            <nav>
                <ul>
                    <li class="active" id="nav-1"><a href="#home">Home</a> </li>
                    <li class="active" id="nav-2"><a href="#work">Work</a> </li>
                    <li class="active" id="nav-3"><a href="#about">About</a> </li>
                    <li class="active" id="nav-4"><a href="#contact">Contact</a> </li>
                </ul>
                <div class="bg_bottom"></div>
            </nav>
            </aside>
            <div id="main-content">
                <section id="top"></section>
                <section id="home">
                    <div id="loader" class="loader"></div>
                    <div id="ps_container" class="ps_container"></div>
                    <header class="divider intro-text">
                        <h2>趣读书吧，去读书吧</h2>
                    </header>
                    <div class="recent-work columns">
                        <h3>My空间</h3>
                        <div class="two-column last">
                            <figure></figure>
                        </div>
                    </div>
                </section>
                <section id="work" class="clearfix">
                    <header>
                        <h2>专属于我的读后感</h2>
                    </header>
                    <ul class="projects list"></ul>
                </section>
                <section id="about" class="clearfix">
                    <header>
                        <h2>你猜我是谁</h2>
                    </header>
                    <figure class="marginRight"><img src="WEB-INF/images/fresh.jpg" alt="Image" /></figure>
                    <h3>Nerdy Skills</h3>
                    <ul class="skills"></ul>
                </section>
                <section id="contact" class="clearfix">
                    <header>
                        <h2>Get in touch</h2>
                        <form action="#" method="post"></form>
                        <div class="social_wrapper">
                            <h3>Where to find me?</h3>
                            <ul class="social"></ul>
                        </div>
                        <div class="copyright">
                            <p></p>
                        </div>
                    </header>
                </section>
            </div>
        </div>
    </body>
</html>
